body{
    background: black;
    text-align: left;

}
nav{
    justify-content: space-between;
    /*small space between text*/
    padding: 5px;
    margin: auto;
}
.navBar{
    text-align: center;
    padding: 10px;
    margin: auto;
    justify-content: space-between;
    background: lavender;

}

.navBar a:hover{
    /*
    Reused my code from csc 271
     */
    font-family: 'Playfair Display', serif;
    font-size: 19px;

    padding: 4px;
    color: red;
    background: linear-gradient(90deg, darkmagenta, black);
    text-shadow: 1px 1px  black;

    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 6px 6px #131212;
    transition: all 1s ease;
}


a{
    padding: 8px;
    color: #639709;
}




#Title{
    font-size: 40px;
    font-family: "Times New Roman",Tahoma;

    color: red;
    text-align: center;
    text-shadow: floralwhite 1px 1px 1px;
    margin: 20px;

}

h2{

    font-size: 20px;
      font-family: 'Playfair Display', serif;
    color: darkorange;
    text-align: center;
}

img{
 float: left;
    margin: 10px;

}

.Top{
    top: 0;
    padding: 10px;
    margin: auto;
    justify-content: center;
    display: flex;


}

#logo{
    float: none;

    justify-content: center;
    margin-top: 10px;
}

p{
    font-size: 15px;
    font-family: 'Yatra One', cursive , Tahoma;
    color: darkorange;
    text-shadow: #131212 2px 2px 2px;
}



.formText{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: darkorange;

}

.wrap{

    justify-content: center;
    align-items: center;

    margin: auto;

    width: 1000px;
    height: 1000px;
    padding: 20px;
    border: 3px outset #ccc;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: contrast(0.1);


}

.wrap-concert{

    justify-content: center;
    align-items: center;

    margin: auto;

    width: 1000px;
    height: 1600px;
    padding: 20px;
    border: 3px outset #ccc;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: contrast(0.1);


}

.background-img{
    background-image: url("../images/1117.jpg");
    background-size: cover;
}

video{

    align-items: center;
    border-radius: 5px;


}
#accord div{

    border-radius: 5px;
    background: transparent;
    backdrop-filter: contrast(0.5);

}

#accord h2{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: darkorange;
    text-align: center;
    background: black;

}
@media only screen and (max-width: 600px) {
    .header a{
        float:none;
        display: block;
        text-align: left;
    }
    .main-content{
        width: 100%;
        font-size: 22px;
    }
}