p{
    color: red;
    text-align: center;
    font-family: monospace;
    background: lightyellow;
}
h1{
    color: blue;
    text-align: center;
    font-family: monospace;
    background: lightyellow;
}